<section class="jumbotron">
    <div id="error-handling"></div>
    <h1 class="text-center">New chat</h1>
    <form class="form" id="chat-form">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" required/>
        </div>
       <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" required/>
       </div>
        <input class="btn btn-primary" id="submit" type="submit" value="New Chat"/>
    </form>
</section>
    
<div class="chat-list">
    
</div>